/* Main Container */
.container {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 100px;
  align-items: center;
  position: relative;
}

.container2 {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Header & Score Board */
.header {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.element-container {
  position: fixed;
  width: 800px;
  height: 130px;
  padding: 5px;
  border: 2px solid white;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
}

.text {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  margin-left: 15px;
}

.score {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Nscore {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  background: white;
  border-radius: 15px;
  height: 120px;
  width: 130px;
}

/* Footer Areas */
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: absolute;
  top: 200px;
}

.footer2 {
  display: flex;
  gap: 50px;
  position: absolute;
  top: 300px;
}
