/* Logout Icon Position */
.logout-container {
  position: fixed; /* Changed to fixed to ensure it stays on top */
  top: 20px;
  right: 20px;
  z-index: 10000;
}

.logout-icon {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  border: 2px solid white;
}

.logout-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}
